@import "variables.less";
.datetimeboxq.disabled {
  background-image: url('images/datebox_arrow_disable.png'); // no-repeat center center;
  background-color: @main-disabled-bgcolor;
  color:#ccc;
}
.datetimeboxq {
  background-image: url(images/datebox_arrow.png);
  background-repeat: no-repeat;
  background-position: right 8px center;
}
input.datetimeboxq::-ms-clear{
  display: none;
  width: 0px;
  height: 0px;
}