@import "variables.less";
.layout-split-north {
  border-bottom: 5px solid @layout-split-border;
}
.layout-split-south {
  border-top: 5px solid @layout-split-border;
}
.layout-split-east {
  border-left: 5px solid @layout-split-border;
}
.layout-split-west {
  border-right: 5px solid @layout-split-border;
}
.layout-expand {
  background-color: #F7F7F7;
}
.layout-expand-over {
  background-color: #F9F9FF;
}
.layout-expand {
  .panel-body{
    border-color:#cccccc;
  }
  .panel-header{
    border-color: #cccccc;
  }
}
.panel-header.panel-header-gray{
  .layout-button-up {
    background: url(images/layout_arrows_black.png) -16px -16px no-repeat;
  }
  .layout-button-left {
    background: url(images/layout_arrows_black.png) no-repeat;
  }
  .layout-button-right {
    background: url(images/layout_arrows_black.png) 0px -16px no-repeat;
  }
  .layout-button-down {
    background: url(images/layout_arrows_black.png) -16px 0px no-repeat;
  }
}