@import "variables.less";
.spinner {
  display: inline-block;
  white-space: nowrap;
  margin: 0;
  padding: 0;
  border-width: 1px;
  border-style: solid;
  overflow: hidden;
  vertical-align: middle;
  &.disabled{
    border-color: @main-disabled-border-color;
    .spinner-arrow {
      background-color: @main-disabled-bgcolor;
      .spinner-arrow-up {
        background-image: url(images/spinner_arrows_disable.png);
      }
      .spinner-arrow-down {
        background-image: url(images/spinner_arrows_disable.png);
      }
    }
  }
}
.spinner .spinner-text {
  font-size: @spinner-font-size;
  border: 0px;
  line-height: @spinner-line-height;
  height: @spinner-line-height;
  margin: 0;
  padding: 0 0 0 5px;
  *margin-top: -1px;
  *height: @spinner-line-height-min;
  *line-height: @spinner-line-height-min;
  _height: @spinner-line-height-min;
  _line-height: @spinner-line-height-min;
  vertical-align: baseline;
}
.spinner-arrow {
  display: inline-block;
  overflow: hidden;
  vertical-align: top;
  margin: 0;
  padding: 0;
  background-color:#ffffff;
  .spinner-arrow-hover {
    opacity: @input-arrow-hover-opacity;
    filter: alpha(opacity=@input-arrow-hover-opacity-ie);
    background-color:@input-arrow-hover-bgcolor;
  }
}
.spinner-arrow-up,
.spinner-arrow-down {
  opacity: @input-arrow-opacity;
  filter: alpha(opacity=@input-arrow-opacity-ie);
  display: block;
  font-size: 1px;
  width: 22px;
  height: 14px;
}
.spinner-arrow-up {
  background: url(images/spinner_arrows.png) -21px center no-repeat;
}
.spinner-arrow-down {
  background: url(images/spinner_arrows.png) 0px center no-repeat;
}
.spinner {
  border-color: @main-color;/*#95B8E7;*/
}