<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title><%= title %></title>
    <% if ('undefined'==typeof indexPage) { %>
    <link rel="stylesheet" type="text/css" href="../../dist/css/hisui<%= jsSuffix %>.min.css"></link>
    <script type="text/javascript" src="../../dist/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="../jquery-tag-demo.js"></script>
    <script type="text/javascript" src="../../dist/js/jquery.hisui.min.js"></script>
    <script type="text/javascript" src="../../dist/js/locale/hisui-lang-zh_CN.js"></script>	
    <script type="text/javascript" src="../mock-min.js"></script>
    <link rel="stylesheet" type="text/css" href="../demo.css">
    <% }else{ %>
    <link rel="stylesheet" type="text/css" href="../dist/css/hisui<%= jsSuffix %>.min.css"></link>
    <script type="text/javascript" src="../dist/js/jquery-1.11.3.min.js"></script>
    <script type="text/javascript" src="jquery-tag-demo.js"></script>
    <script type="text/javascript" src="../dist/js/jquery.hisui.min.js"></script>
    <script type="text/javascript" src="../dist/js/locale/hisui-lang-zh_CN.js"></script>	
    <script type="text/javascript" src="mock-min.js"></script>
    <link rel="stylesheet" type="text/css" href="demo.css">
    <% } %>
    <script type="text/javascript">
        var HISUIStyleCode = '<%= themeCode %>';
    </script>