.has-switch {
  display: inline-block;
  cursor: pointer;
  border-radius: 14px;
  height:26px;
  border: none;
  border-color:transparent;
  position: relative;
  text-align: left;
  overflow: hidden;
  line-height: 8px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  vertical-align: middle;
  min-width: 66px;
  background-color: #008fff;
}
.has-switch.switch-mini {
  min-width: 46px;
  height:20px;
}
.has-switch.switch-mini i.switch-mini-icons {
  height: 1.20em;
  line-height: 9px;
  vertical-align: text-top;
  text-align: center;
  transform: scale(0.6);
  margin-top: -1px;
  margin-bottom: -1px;
}
.has-switch.switch-small {
  min-width: 66px;
}
.has-switch.switch-large {
  min-width: 80px;
}
.has-switch.deactivate {
  opacity: 0.5;
  filter: alpha(opacity=50);
  cursor: default !important;
}
.has-switch.deactivate label,
.has-switch.deactivate span {
  cursor: default !important;
}
.has-switch > div {
  display: inline-block;
  width: 150%;
  position: relative;
  top: 0;
}
.has-switch > div.switch-animate {
  -webkit-transition: left 0.5s;
  -moz-transition: left 0.5s;
  -o-transition: left 0.5s;
  transition: left 0.5s;
}
.has-switch > div.switch-off {
  background-color: #BACCE0;
  left: -50%; /*-49->-50 */
  label {
    border:1px solid transparent;
    width: 22px;
    height: 22px;
    margin: 2px;
    border-radius: 12px;
    &.switch-mini{
      height: 16px;
      width: 16px;
    }
  }
  span.switch-gray{ // 开启状态- gray都透明 
    background-color: transparent;
    color: #ffffff;
    margin-right: -20px;
    top: -2px;
  }
  span.switch-primary{
    color:transparent;
  }
}

.has-switch > div.switch-on {
  left: 0%;
  label{
    border:1px solid transparent;
    border-radius: 12px; 
    width: 22px;
    height: 22px;
    margin: 2px -20px 2px 10px;
    &.switch-mini{
      height: 16px;
      margin: 2px 6px 2px 4px;
      width: 16px;
    }
  }
  span.switch-gray{ // 开启状态- gray都透明 
    background-color: transparent;
    color: transparent;
  }
}
.has-switch input[type=radio],
.has-switch input[type=checkbox] {
  display: none;
}
.has-switch span,
.has-switch label {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
  display: inline-block;
  height: 26px;
  padding-bottom: 3px;
  padding-top: 2px;
  font-size: 14px;
  line-height: 20px;
}
.has-switch span.switch-mini,
.has-switch label.switch-mini {
  padding-bottom: 4px;
  padding-top: 3px;
  font-size: 10px;
  line-height: 12px;
  height:20px;
}
.has-switch span.switch-small,
.has-switch label.switch-small {
  padding-bottom: 3px;
  padding-top: 3px;
  // font-size: 12px;
  line-height: 18px;
}
.has-switch span.switch-large,
.has-switch label.switch-large {
  padding-bottom: 9px;
  padding-top: 9px;
  font-size: 16px;
  line-height: normal;
}
.has-switch label {
  text-align: center;
  margin-top: 0;
  margin-bottom: 0;
  z-index: 100;
  width: 34%;
  color: #333333;
  // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  background-color: #fff;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.has-switch label.disabled,
.has-switch label[disabled] {
  color: #ffffff;
  background-color: #99d2ff;
}
.has-switch label:active,
.has-switch label.active {
  background-color: #cccccc;
}
.has-switch label i {
  color: #000;
  // text-shadow: 0 1px 0 #fff;
  line-height: 18px;
  pointer-events: none;
}
.has-switch span {
  text-align: center;
  z-index: 1;
  width: 33%;
}
.has-switch span.switch-left {
  -webkit-border-top-left-radius: 4px;
  -moz-border-radius-topleft: 4px;
  border-top-left-radius: 4px;
  -webkit-border-bottom-left-radius: 4px;
  -moz-border-radius-bottomleft: 4px;
  border-bottom-left-radius: 4px;
}
.has-switch span.switch-right {
  color: #fff;
  position: relative;
  top:0;
  // text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  background-color: #bdbdbd;
  border-color: #ffffff #ffffff #d9d9d9;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
  *background-color: #ffffff;
  /* Darken IE7 buttons by default so they stand out more given they won't have borders */

  filter: progid:DXImageTransform.Microsoft.gradient(enabled = false);
}
.has-switch span.switch-right.disabled,
.has-switch span.switch-right[disabled] {
  color: #b4b3b3;
  background-color: #e5e5e5;
}

.has-switch span.switch-primary,
.has-switch span.switch-left {
  color: #ffffff;
  position: relative;
  top:-2px;
  left: 4px;
}

.has-switch span.switch-info {
  color: #ffffff;
  // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #41a7c5;
  background-image: -moz-linear-gradient(top, #2f96b4, #5bc0de);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#2f96b4), to(#5bc0de));
  background-image: -webkit-linear-gradient(top, #2f96b4, #5bc0de);
  background-image: -o-linear-gradient(top, #2f96b4, #5bc0de);
  background-image: linear-gradient(to bottom, #2f96b4, #5bc0de);
  background-repeat: repeat-x;
}
.has-switch span.switch-info:hover,
.has-switch span.switch-info:focus,
.has-switch span.switch-info:active,
.has-switch span.switch-info.active,
.has-switch span.switch-info.disabled,
.has-switch span.switch-info[disabled] {
  color: #ffffff;
  background-color: #5bc0de;
  *background-color: #46b8da;
}
.has-switch span.switch-info:active,
.has-switch span.switch-info.active {
  background-color: #31b0d5;
}
.has-switch span.switch-success {
  color: #ffffff;
  // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #58b058;
  background-image: -moz-linear-gradient(top, #51a351, #62c462);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#51a351), to(#62c462));
  background-image: -webkit-linear-gradient(top, #51a351, #62c462);
  background-image: -o-linear-gradient(top, #51a351, #62c462);
  background-image: linear-gradient(to bottom, #51a351, #62c462);
  background-repeat: repeat-x;
}
.has-switch span.switch-success:hover,
.has-switch span.switch-success:focus,
.has-switch span.switch-success:active,
.has-switch span.switch-success.active,
.has-switch span.switch-success.disabled,
.has-switch span.switch-success[disabled] {
  color: #ffffff;
  background-color: #62c462;
  *background-color: #4fbd4f;
}
.has-switch span.switch-success:active,
.has-switch span.switch-success.active {
  background-color: #42b142;
}
.has-switch span.switch-warning {
  color: #ffffff;
  // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #f9a123;
  background-image: -moz-linear-gradient(top, #f89406, #fbb450);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f89406), to(#fbb450));
  background-image: -webkit-linear-gradient(top, #f89406, #fbb450);
  background-image: -o-linear-gradient(top, #f89406, #fbb450);
  background-image: linear-gradient(to bottom, #f89406, #fbb450);
  background-repeat: repeat-x;
}
.has-switch span.switch-warning:hover,
.has-switch span.switch-warning:focus,
.has-switch span.switch-warning:active,
.has-switch span.switch-warning.active,
.has-switch span.switch-warning.disabled,
.has-switch span.switch-warning[disabled] {
  color: #ffffff;
  background-color: #fbb450;
  *background-color: #faa937;
}
.has-switch span.switch-warning:active,
.has-switch span.switch-warning.active {
  background-color: #fa9f1e;
}
.has-switch span.switch-danger {
  color: #ffffff;
  // text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #d14641;
  background-image: -moz-linear-gradient(top, #bd362f, #ee5f5b);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#bd362f), to(#ee5f5b));
  background-image: -webkit-linear-gradient(top, #bd362f, #ee5f5b);
  background-image: -o-linear-gradient(top, #bd362f, #ee5f5b);
  background-image: linear-gradient(to bottom, #bd362f, #ee5f5b);
  background-repeat: repeat-x;
}
.has-switch span.switch-danger:hover,
.has-switch span.switch-danger:focus,
.has-switch span.switch-danger:active,
.has-switch span.switch-danger.active,
.has-switch span.switch-danger.disabled,
.has-switch span.switch-danger[disabled] {
  color: #ffffff;
  background-color: #ee5f5b;
  *background-color: #ec4844;
}
.has-switch span.switch-danger:active,
.has-switch span.switch-danger.active {
  background-color: #e9322d;
}

.has-switch span.switch-default:hover,
.has-switch span.switch-default:focus,
.has-switch span.switch-default:active,
.has-switch span.switch-default.active,
.has-switch span.switch-default.disabled,
.has-switch span.switch-default[disabled] {
  color: #333333;
  background-color: #ffffff;
  *background-color: #f2f2f2;
}
.has-switch span.switch-default:active,
.has-switch span.switch-default.active {
  background-color: #e6e6e6;
}
/*增加灰色 2018-6-28*/
.has-switch span.switch-gray:hover,
.has-switch span.switch-gray:focus,
.has-switch span.switch-gray:active,
.has-switch span.switch-gray.active,
.has-switch span.switch-gray.disabled,
.has-switch span.switch-gray[disabled] {
  color: #ffffff;
  background-color: #bdbdbd;
}
.has-switch span.switch-gray:active,
.has-switch span.switch-gray.active {
  background-color: #bdbdbd;
}