body {
    font-family:"Microsoft Yahei",verdana,helvetica,arial,sans-serif;
    padding:20px;
    font-size:14px;
    /* margin:0; */
	/* background-color: #FFFFFF; */
}
h2 {
    font-size:18px;
    font-weight:bold;
    margin:0;
    margin-bottom:15px;
}
.demo-info{
	padding:0 0 12px 0;
}
.demo-tip{
	display:none;
}
.demo-exp-code{
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    position: relative;
}
.prettyprint code{
    background: none;
}
code{
    padding: 2px 4px;
    font-size: 90%;
    color: #c7254e;
    background-color: #f9f2f4;
    border-radius: 4px;
    font-family: Menlo,Monaco,Consolas,"Courier New",monospace;
}

table {
    max-width: 100%;
    background-color: transparent;
    border-collapse: collapse;
    border-spacing: 0;
}
.table {
    width: 100%;
    margin-bottom: 20px;
}
.mthtitle{
    background-color: var(--combobox-item-select-bgcolor,#e0dcdc);
    text-shadow: 0 1px 0 #fff;
}
.evttitle{
    background-color: var(--combobox-item-select-bgcolor,#e0dcdc);
    text-shadow: 0 1px 0 #fff;
}  
.protitle{
    background-color: var(--combobox-item-select-bgcolor,#e0dcdc);
    text-shadow: 0 1px 0 #fff;
}
.table th,
.table td {
    padding: 8px;
    line-height: 20px;
    text-align: left;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}
.table th {
    font-weight: bold;
}
.table thead th {
    vertical-align: bottom;
}
.table caption + thead tr:first-child th,
.table caption + thead tr:first-child td,
.table colgroup + thead tr:first-child th,
.table colgroup + thead tr:first-child td,
.table thead:first-child tr:first-child th,
.table thead:first-child tr:first-child td {
    border-top: 0;
}
.table tbody + tbody {
    border-top: 2px solid #dddddd;
}
.table .table {
    background-color: #ffffff;
}
.table tr:hover{
    background-color: var(--datagrid-row-hover-bgcolor,#f7f7f7);
}

.toggle-prettyprint{
    cursor: pointer;
    color: #d3dce6;
    clear: both;
}
.toggle-prettyprint:hover{
    /*color: #409eff;*/
    color: #999999;
}
.plain-anchor.l-btn-plain{
    color:#409eff;
}
/*右边空20px*/
label.radio ,label.checkbox{
    margin-right: 20px;
}
.fs0{
    font-size: 0px;
}
/*用于装多个按钮,让linkbutton间保持10px间距*/
.links{
    font-size: 0;
}
.links a{
    margin-right: 10px;
}
.cntt{
    color:#666;
    font-weight: 500;
}