<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../../templates/hisui-header.ejs',{title:"下拉树"}) %>
</head>
<body>
    <h2>组合树</h2>
    <h3>说明:</h3>
    <span>组合树（combotree）把选择控件和下拉树结合起来。它与组合框（combobox）相似，不同的是把列表替换成树组件。组合树（combotree）支持带有用于多选的树状态复选框的树。</span>
    <h3>如：</h3>
    <div class="demo-exp-code entry-content"> 
        <table>
            <tr>
                <td class="r-label">下拉树</td>
                <td><input id="cbtree" class="hisui-combotree" placeholder='请点击下拉'/></td>
            </tr>
        </table>
   <script type="text/javascript">
   var cbtree = $HUI.combotree('#cbtree',{editable:true});
            cbtree.loadData([{
                id: 1,
                text: 'Languages',
                children: [{
                    id: 11,
                    text: 'Java'
                },{
                    id: 12,
                    text: 'C'
                },{
                    id: 13,
                    text: 'C++'
                },{
                    id: 14,
                    text: 'CSS'
                }]
            }]);
</script>
   <pre class="prettyprint hide lang-html"><code>&lt;table>
    &lt;tr>
        &lt;td class="r-label">下拉树&lt;/td>
        &lt;td>&lt;input id="cbtree" class="hisui-combotree" placeholder='请点击下拉'/>&lt;/td>
    &lt;/tr>
&lt;/table&gt;</code></pre><pre class="prettyprint hide lang-js">
&lt;script type="text/javascript"&gt;
var cbtree = $HUI.combotree('#cbtree',{});
    cbtree.loadData([{
        id: 1,
        text: 'Languages',
        children: [{
            id: 11,
            text: 'Java'
        },{
            id: 12,
            text: 'C++'
        }]
    }]);
&lt;/script&gt; 
    </pre>
    </div><prettyprint/>
</body>
</html>