@import "variables.less";
.accordion .accordion-header-selected {
  background: @accordion-header-select-bgcolor;
}
.accordion .accordion-header-selected .panel-title {
  color: @accordion-title-font-color;
}
.accordion {
  &.accordion-noborder .panel:first-child .accordion-header{
    border-top-width:1px;
    margin-top: 0px;
  }
  .accordion-body {
    border: 1px solid @accordion-body-border;
    border-top: 0px;
    background-color: @accordion-body-bgcolor;
    color: @accordion-body-color;
  }
  .accordion-header{
    padding: 6px;
    border: 1px @accordion-body-border solid;
    background: @accordion-header-bgcolor;
    filter: none;
    .panel-title{
      padding-left: 5px;
      color: @accordion-title-font-color;
    }
    .panel-with-icon{
      padding-left: 31px;
    }
    .panel-icon{
      left: 10px;
    }
    .panel-tool{
      margin-top: -11px;
      height: 22px;
      a {
        display: inline-block;
        width: 22px;
        height: 22px;
        vertical-align: top;
        margin: 0;
      }
      .accordion-collapse {
        background: url(images/accordion_arrows-black.png) no-repeat -22px 0;
      }
      .accordion-expand {
        background: url(images/accordion_arrows-black.png) no-repeat 0 0;
      }
    }
  }
}