@import "variables.less";
.icon-search:before{
	content: "\f002";
}
.icon-cancel:before{
	content: "\f00d";
}
.icon-add:before{
	content: "\f067";
}
.icon-edit:before{
	content: "\f303";
}
.icon-save:before{
    content: "\f0c7"
}
.icon-reload::before{
	content: "\f2f1";
}
.icon-remove::before{
	content: "\f2ed";
}
.icon-print::before{
	content: "\f02f";
}
.icon-cut::before{
	content: "\f0c4";
}
.icon-copy::before{
	content: "\f0c5";
}
.icon-paste::before{
	content: "\f0ea";
}
.icon-back::before{
	content: "\f2ea";
}
.icon-redo::before{
	content:"\f2f9";
}
.icon-font:before{content:"\f031"}
.icon-bold::before{content: "\f032"}
.icon-incline:before{content:"\f033"}
.icon-underline::before{content: "\f0cd"}
.icon-strikethrough:before{content:"\f0cc"}
.icon-subscript:before{content:"\f12c"}
.icon-subscript:before{content:"\f12c"}
.icon-superscript:before{content:"\f12b"}
.icon-align-center:before{content:"\f037"}
.icon-align-justify:before{content:"\f039"}
.icon-align-left:before{content:"\f036"}
.icon-align-right:before{content:"\f038"}
//clipboard
.icon-paper::before{
	content: "\f328";
}
// pager