@import "variables.less";
/*2018-6-28 增大图标与左边间距*/
.tabs-icon {
  left: 10px;
  width: 16px;
	font-weight: 500;
	font-size: 16px;
	line-height: normal;
}

.tabs-scroller-left::before{
  content: @content-left2;
  display: block;
  margin-top: 10px;
  margin-left: 0px;
}
.tabs-scroller-right::before{
  content: @content-right2;
  display: block;
  margin-top: 10px;
  margin-left: 2px;
}

.tabs-scroller-right,.tabs-scroller-left{
  &.tabs-scroller-over{
    opacity: 1;
    background-color: #ffffff;
    color:#339EFF;
  }
  width: 20px;
  font-size: 12px;
}


.tabs-header {
  padding-top: 0px;
  border-radius: 4px 4px 0 0;
  border-width: 1px;
  border-bottom-width: 0px;
}
.tabs-panels{
  border-radius: 0 0 4px 4px;
  &>.panel>.panel-body.panel-body-noheader{  //20220718 tabs内区域不要圆角,导致内部iframe也带圆角 [2790963]
    border-radius: 0px;
  }
}
.tabs {
  height: @tabs-header-height;
  padding-left: 0px;
  border-width: 0 0 0px 0;
  border-bottom: 1px solid @tabs-header-bdcolor;
  overflow: visible;

  li {
    height: 34px;
    /*wanghc 2018-3-19  win7-ie11*/
    margin: 0px;
    overflow: hidden;

    &:not(:last-child)::after {
      content: none;
    }

    &.tabs-selected {
      overflow: visible;

      a.tabs-inner {
        background: @tabs-header-bgcolor;
        border: 0 solid;
        border-bottom: 3px solid @tabs-header-select-top-color;
        color: @tabs-header-select-font-color;
        font-weight: normal;

        &:hover {
          background: @tabs-header-hover-bgcolor;
          color: @tabs-header-select-font-color;
          font-weight: normal;
        }
      }

      &::after {
        //border-color:transparent;  
        content: none;
      }

      a.tabs-close::before {
        content: @content-close;
      }
    }

    a.tabs-inner {
      -moz-border-radius: 0;
      -webkit-border-radius: 0;
      border-radius: 0;
      color: @tabs-header-font-color;
      background: @tabs-header-bgcolor;
      border-width: 0;
      border-bottom: 3px solid @tabs-header-bgcolor;
      filter: none;

      &:hover {
        border-top-color: @tabs-header-hover-bgcolor;
        background: @tabs-header-hover-bgcolor;
        color: @tabs-header-select-font-color;
        filter: none;
      }

      .tabs-title.tabs-closable {
        padding-right: 24px;
      }

      .tabs-icon {
        margin-top: -8px;
      }

      .tabs-title.tabs-with-icon {
        padding-left: 20px;
      }
    }

    a.tabs-close {
      background-image: none;
      right: 10px;
      height: 16px;
      width: 16px;
      //background-color: @tabs-header-bgcolor;
      &::before{
        content: @content-close;
      }
      &:hover {
        color:red;
        background-color: transparent;
      }
    }
  }

  /*tabs-brand no hover no pointer  cryze 2018-3-15*/
  li.tabs-brand {
    a.tabs-inner {
      cursor: default;

      &:hover {
        border-top-color: @tabs-header-bgcolor;
        background: @tabs-header-bgcolor;
        color: @tabs-header-font-color;
      }

      .tabs-title {
        font-weight: bold;
      }
    }
  }
}

/*.tabs li a.tabs-inner {
  color:@tabs-header-font-color;
  background:@tabs-header-bgcolor;
}*/
.tabs-title {
  font-size: @tabs-title-font-size;
}

.tabs-header-bottom .tabs li a.tabs-inner {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.tabs-header-left .tabs li a.tabs-inner {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.tabs-header-right .tabs li a.tabs-inner {
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
}

.tabs-scroller-left {
  background: none; //@tabs-header-bgcolor url('images/tabs_icons.png') no-repeat 4px center;
  /*2018-6-27 UI建议修改 1px->4px*/
}

.tabs-scroller-right {
  background: none; //@tabs-header-bgcolor url('images/tabs_icons.png') no-repeat -12px center;
  /*2018-6-27 UI建议修改 -15px->-12px*/
}

.tabs-header-bottom .tabs li.tabs-selected a.tabs-inner {
  background: #ffffff;
}

.tabs-header-left .tabs li.tabs-selected a.tabs-inner {
  background: #ffffff;
}

.tabs-header-right .tabs li.tabs-selected a.tabs-inner {
  background: #ffffff;
}

.tabs-header,
.tabs-tool {
  background-color: @tabs-header-bgcolor;
  /*modify*/
}

.tabs-header-plain {
  background: transparent;
}

.tabs-header,
.tabs-scroller-left,
.tabs-scroller-right,
.tabs-tool,
.tabs-panels,
.tabs-header-bottom .tabs li.tabs-selected a.tabs-inner,
.tabs-header-left .tabs li.tabs-selected a.tabs-inner,
.tabs-header-right .tabs li.tabs-selected a.tabs-inner {
  border-color: @tabs-header-bdcolor;
}
.tabs-scroller-left{
  border-left-width:0px ;
}
.tabs-scroller-right{
  border-right-width:0px ;
}

.tabs-tool{
  border-left-width: 0px
}
.tabs-tool .l-btn{
  margin-top: 3px;
  margin-right: 8px;
}
.tabs-p-tool {
  a:hover {
    background-color: @tabs-header-arrow-hover-bgcolor;
  }
}

.tabs li a:hover.tabs-color {
  background-color: @tabs-header-arrow-hover-bgcolor;
}

.tabs-scroller-over {
  background-color: @tabs-header-arrow-hover-bgcolor;
}

//蓝色 下
.tabs-header-bottom {
  &.tabs-header {
    border-bottom-width: 0;
  }

  padding:0;

  .tabs {
    height: @tabs-header-height;
    padding: 0px;
    border-width: 0 0 0px 0;

    li {
      height: 36px;
      /*wanghc 2018-3-19  win7-ie11*/
      margin: 0px;

      a.tabs-inner {
        border-top: 0px;
        border-bottom: 3px solid @tabs-header-bgcolor;

        &:hover {
          border-top: 0px solid #eaf2ff;
          border-bottom-color: @tabs-header-hover-bgcolor;
          background: @tabs-header-hover-bgcolor;
          color: @tabs-header-font-color;
          filter: none;
        }

        .tabs-icon {
          margin-top: -9px;
        }
      }

      a.tabs-close {
        margin-top: -10px;
      }
    }

    li.tabs-selected {
      a.tabs-inner {
        border-left: 0px solid #ffffff;
        border-top: 0px solid #ffffff;
        border-top: 0px;
        border-bottom: 3px solid @tabs-header-select-top-color;

        &:hover {
          background: #ffffff;
          color: #000000;
        }
      }
    }
  }
}

//蓝色 左
.tabs-header-left {
  &.tabs-header {
    border-left: 0;
    border-top: 1px solid @tabs-header-bgcolor;
  }

  padding:0;

  .tabs {
    //height: @tabs-header-height;   /*cryze 2018-8-2*/
    padding: 0px;
    border-width: 0 0 0px 0;

    li {
      height: 35px;
      /*wanghc 2018-3-19  win7-ie11*/
      float: left;
      margin: 0px;

      &::after {
        content: none;
      }

      a.tabs-inner {
        border: 0 solid @tabs-header-bgcolor;
        //border-top:1px;
        //border-bottom: 2px;
        border-left: 3px solid @tabs-header-bgcolor;

        &:hover {
          border-right: 0px solid #eaf2ff;
          border-left-color: @tabs-header-hover-bgcolor;
          background: @tabs-header-hover-bgcolor;
          color: @tabs-header-font-color;
          filter: none;
        }

        .tabs-icon {
          margin-top: -8px;
        }
      }

      a.tabs-close {
        margin-top: -9px;
      }
    }

    li.tabs-selected {
      a.tabs-inner {
        border: 0 solid #ffffff;
        //border-top:1px;
        //border-bottom: 2px;
        border-left: 3px solid @tabs-header-select-top-color;

        &:hover {
          background: #ffffff;
          color: #000000;
        }
      }
    }
  }
}

//蓝色 右
.tabs-header-right {
  &.tabs-header {
    border-right: 0;
    border-top: 1px solid @tabs-header-bgcolor;
  }

  padding:0;

  .tabs {
    /*  height: @tabs-header-height;*/
    padding: 0px;
    border-width: 0 0 0px 0;

    li {
      height: 35px;
      /*wanghc 2018-3-19  win7-ie11*/
      float: right;
      margin: 0px;

      &::after {
        content: none;
      }

      a.tabs-inner {
        border: 0 solid @tabs-header-bgcolor;
        //border-top:1px;
        //border-bottom: 2px;
        border-right: 3px solid @tabs-header-bgcolor;

        &:hover {
          border-left: 0px solid #eaf2ff;
          border-right-color: @tabs-header-hover-bgcolor;
          background: @tabs-header-hover-bgcolor;
          color: @tabs-header-font-color;
          filter: none;
        }

        .tabs-icon {
          margin-top: -8px;
        }
      }

      a.tabs-close {
        margin-top: -9px;
      }
    }

    li.tabs-selected {
      a.tabs-inner {
        border: 0 solid #ffffff;
        //border-top:1px;
        //border-bottom: 2px;
        border-right: 3px solid @tabs-header-select-top-color;

        &:hover {
          background: #ffffff;
          color: #000000;
        }
      }
    }
  }
}

/*--tabs-gray--*/
.tabs-container.tabs-gray {

  .tabs-header-bottom,
  .tabs-header-left,
  .tabs-header-right {   /*2020-11-03*/
    box-shadow: none;

    .tabs-scroller-left {
      border-color: @tabs-header-gray-bgcolor;
      background: none; //@tabs-header-gray-bgcolor url('images/tabs_icons_gray.png') no-repeat 4px center;
      /*2018-6-27 UI建议修改 1px->4px*/
      border-bottom: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
    }

    .tabs-scroller-right {
      border-color: @tabs-header-gray-bgcolor;
      background: none; //@tabs-header-gray-bgcolor url('images/tabs_icons_gray.png') no-repeat -12px center;
      /*2018-6-27 UI建议修改 -15px->-12px*/
      border-bottom: 1px solid #cccccc;
      border-left: 1px solid #cccccc;
    }

    .tabs-p-tool {
      a:hover {
        background-color: @tabs-header-gray-arrow-hover-bgcolor;
      }
    }

    .tabs-scroller-over {
      background-color: @tabs-header-gray-arrow-hover-bgcolor;
    }

    .tabs-tool {
      border-left: 0px;
      border-color: @tabs-header-gray-border;
      border-right: 1px solid @tabs-header-gray-bgcolor;

      .l-btn {
        margin: 1px;
      }
    }

    &.tabs-header,
    .tabs-tool {
      background-color: @tabs-header-gray-bgcolor;
    }

    &.tabs-header {
      border-color: @tabs-header-gray-border;
    }

    &.tabs-header {
      border: 1px solid @tabs-header-gray-border;
      border-bottom: 0;

      .tabs {
        border: 0;
        border-bottom: 1px solid @tabs-header-gray-border;
      }
    }

    .tabs {
      overflow: visible;

      li {
        border: 0;
        height: 35px;
        overflow: hidden;
        /*2020-2-27 overflow-y -> overflow*/
        border-right: 1px solid #cccccc;

        &::after {
          content: none;
        }

        a {
          &.tabs-inner {
            color: @tabs-header-gray-font-color;
            background-color: @tabs-header-gray-bgcolor;
            /*modify*/
            border-color: @tabs-header-gray-bgcolor;

            &:hover {
              background: @tabs-header-gray-hover-bgcolor;
              color: @tabs-header-gray-font-color;
              border-color: @tabs-header-gray-hover-bgcolor;
              filter: none;
              //border-bottom: 1px solid @tabs-header-gray-hover-bgcolor;
            }
          }

        }

        a.tabs-close::before {
          content: @content-close;
        }

        .tabs-close:hover {
          color:red;
          background-color: transparent;
        }
      }

      li.tabs-selected {
        height: 36px;

        a.tabs-inner {
          color: @tabs-header-gray-select-font-color;
          background-color: @tabs-header-gray-select-bgcolor;
          /*modify*/
          border: 0 solid;
          border-top-width: 3px;
          border-color: @tabs-header-gray-select-top-color;

          &:hover {
            border-color: @tabs-header-gray-select-top-color;
          }
        }

        a.tabs-close::before {
          content: @content-close;
        }

        .tabs-close:hover {
          color:red;
          background-color: transparent;
        }
      }

      /*tabs-brand no hover no pointer  cryze 2018-3-15*/
      li.tabs-brand {
        a.tabs-inner {
          cursor: default;

          &:hover {
            border-color: @tabs-header-gray-bgcolor;
            background: @tabs-header-gray-bgcolor;
            color: @tabs-header-gray-font-color;
          }
        }
      }
    }
  }

  .tabs-panels-left,.tabs-panels-right,.tabs-panels-bottom {
    border-color: @panel-header-bdcolor;
  }
}
.tabs-header-left {
  .tabs {
    //background-color: @body-bgcolor;
    li {
      //border-top: 4px @body-bgcolor solid;
      //height: 36px;
      height: auto;
      //border-top-left-radius: 10px;
      //border-bottom-left-radius: 10px;
      /*&.tabs-selected{
        overflow: hidden;
        a.tabs-inner{
          background-color: @tabs-header-select-top-color;
          color:#ffffff;
        }
      }*/
      a.tabs-inner{
        white-space: normal;
        line-height: 20px!important;
      }
      
    }
  }
}

.tabs-header-right {
  .tabs {
    //background-color: @body-bgcolor;
    li {
      //border-top: 4px @body-bgcolor solid;
      //height: 36px;
      height: auto;
      //border-top-left-radius: 10px;
      //border-bottom-left-radius: 10px;
      /*&.tabs-selected{
        overflow: hidden;
        a.tabs-inner{
          background-color: @tabs-header-select-top-color;
          color:#ffffff;
        }
      }*/
      a.tabs-inner{
        white-space: normal;
        line-height: 20px!important;
      }
      
    }
  }
}
/*--tabs-gray--*/
.tabs-container.tabs-gray {
  .tabs-header-bottom {

    //灰色 底部
    .tabs-scroller-left {
      border-color: @tabs-header-gray-bgcolor;
      background: none ; //@tabs-header-gray-bgcolor url('images/tabs_icons_gray.png') no-repeat 4px center;
      /*2018-6-27 UI建议修改 1px->4px*/
      border-top: 1px solid #cccccc;
      border-right: 1px solid #cccccc;
    }

    .tabs-scroller-right {
      border-color: @tabs-header-gray-bgcolor;
      background: none; //@tabs-header-gray-bgcolor url('images/tabs_icons_gray.png') no-repeat -12px center;
      /*2018-6-27 UI建议修改 -15px->-12px*/
      border-top: 1px solid #cccccc;
      border-left: 1px solid #cccccc;
    }

    &.tabs-header {
      border: 1px solid @tabs-header-gray-border;
      border-top: 0;

      .tabs {
        border: 0;
        border-top: 1px solid @tabs-header-gray-border;
      }
    }

    padding:0;

    .tabs {
      height: @tabs-header-height;
      padding: 0;

      li {
        border: 0;
        margin: 0;
        height: 35px;
        overflow: hidden;
        border-right: 1px solid #cccccc;

        &::after {
          content: none;
        }
      }

      li.tabs-selected {
        height: 36px;
        margin-top: -1px;

        a.tabs-inner {
          color: @tabs-header-gray-select-font-color;
          background-color: @tabs-header-gray-select-bgcolor;
          /*modify*/
          border: 0 solid;
          border-bottom-width: 3px;
          border-color: @tabs-header-gray-select-top-color;

          &:hover {
            border-color: @tabs-header-gray-select-top-color;
          }
        }
      }
    }
  }

  .tabs-header-right {

    //灰色 右侧
    &.tabs-header {
      border: 1px solid @tabs-header-gray-border;
      border-left: 0;

      .tabs {
        border: 0;
        border-left: 1px solid @tabs-header-gray-border;
        height: 100%;
      }
    }

    padding:0;

    .tabs {
      height: @tabs-header-height;
      padding: 0px;

      li {
        height: 36px;
        float: left;
        margin: 0 0 0 -1px;
        border: 0;
        border-bottom: 1px solid @tabs-header-gray-border;
        border-left: 1px solid @tabs-header-gray-border;

        &::after {
          content: none;
        }
      }

      li.tabs-selected {
        border-left: 1px solid #fff;

        a.tabs-inner {
          border: 0 solid;
          border-right-width: 3px;
        }
      }
    }
  }
}

.tabs-gray {
  .tabs-header {
    -moz-border-radius: 4px 4px 0 0;
    -webkit-border-radius: 4px 4px 0 0;
    border-radius: 4px 4px 0 0;

    &.tabs-header-bottom {
      -moz-border-radius: 0 0 4px 4px;
      -webkit-border-radius: 0 0 4px 4px;
      border-radius: 0 0 4px 4px;

      &.tabs-header-noborder {
        /*border:false*/
        border: 0;
      }
    }

    &.tabs-header-left {
      -moz-border-radius: 4px 0 0 4px;
      -webkit-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px;

      &.tabs-header-noborder {
        /*border:false*/
        border: 0;
      }
    }

    &.tabs-header-right {
      -moz-border-radius: 0 4px 4px 0;
      -webkit-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;

      &.tabs-header-noborder {
        /*border:false*/
        border: 0;
      }
    }

    &.tabs-header-noborder {
      /*border:false*/
      border: 0;
    }
  }

  .tabs-panels {
    -moz-border-radius: 0 0 4px 4px;
    -webkit-border-radius: 0 0 4px 4px;
    border-radius: 0 0 4px 4px;

    &.tabs-panels-noborder {
      /*border:false*/
      border: 0;
    }

    &.tabs-panels-top {
      -moz-border-radius: 4px 4px 0 0;
      -webkit-border-radius: 4px 4px 0 0;
      border-radius: 4px 4px 0 0;

      &.tabs-panels-noborder {
        /*border:false*/
        border: 0;
      }
    }

    &.tabs-panels-right {
      -moz-border-radius: 0 4px 4px 0;
      -webkit-border-radius: 0 4px 4px 0;
      border-radius: 0 4px 4px 0;

      &.tabs-panels-noborder {
        /*border:false*/
        border: 0;
      }
    }

    &.tabs-panels-left {
      -moz-border-radius: 4px 0 0 4px;
      -webkit-border-radius: 4px 0 0 4px;
      border-radius: 4px 0 0 4px;

      &.tabs-panels-noborder {
        /*border:false*/
        border: 0;
      }
    }

    &.tabs-panels-noborder {
      /*border:false*/
      border: 0;
    }
  }
}

.tabs-keywords {
  .tabs-header {
    background-color: transparent;
    border: 0px;
  }

  .tabs-panels {
    border: 0px;
  }

  .tabs {
    border-width: 0;
    overflow: hidden;
  }

  .tabs li {
    &::after {
      content: none;
    }

    a.tabs-inner {
      border-radius: 4px;
      border: 0px;
      background-color: @keywords-bgcolor;
      color: @keywords-color;
      border: 1px solid @keywords-bgcolor;
    }

    a.tabs-inner:hover {
      background: @keywords-hover-bgcolor;
      color: @keywords-hover-color;
      border: 1px solid @keywords-bgcolor;
    }
  }

  .tabs li.tabs-selected {
    a.tabs-inner {
      background-color: @keywords-select-bgcolor;
      background-image: url(images/keywords_arrow.png);
      background-position: right 0 bottom 0;
      background-repeat: no-repeat;
      color: @keywords-select-color;
      border: 1px solid @keywords-select-bdcolor;
    }
  }
}
.tabs-gray-btm{
  .tabs li a.tabs-close{
    margin-top:-14px;
  }
  .tabs a.tabs-inner{
    border-bottom: 1px solid @panel-header-bdcolor;
  }
}