@import "variables.less";
/*日历最下面的today close*/
.datebox-button a {
  font-size: @datebox-button-font-size;
}
.datebox-button {
  background-color:@datebox-button-bgcolor;
  .date-today-btn{
    font-size: 12px;
    color: @datebox-today-button-fcolor;
  }
  .date-close-btn{
    font-size: 12px;
    color: @datebox-close-button-fcolor;
  }
  .date-ok-btn{
    font-size: 12px;
    color: @datebox-ok-button-fcolor;
  }
}
.datebox-button a {
  color:@datebox-button-font-color;
}
.datebox .combo-arrow {
  background:none;
}
.datetimebox-f + .datebox .combo-arrow::before{
  content: "\f044";
}
.datebox .combo-arrow::before{
  content: "\f024";
}