@charset "utf-8";
@font-face {
	font-family: 'Mw_mifonts';
	src: url('../fonts/Mw_mifonts.eot'); /* IE9 Compat Modes*/
	src: url('../fonts/Mw_mifonts.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
		 url('../fonts/Mw_mifonts.woff') format('woff'), /* Modern Browsers */
		 url('../fonts/Mw_mifonts.woff2') format('woff2'),
	  	 url('../fonts/Mw_mifonts.ttf') format('truetype'); /* Safari, Android, iOS */
}
@import "../icon.fonts.kv.less";
.icon{
	font: normal normal normal 16px/1 Mw_mifonts;
}
.icon:before {
	display: inline-block;
	font-size: 16px;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-right-arrow , .icon-arrow-blue ,.icon-run-red,.icon-left-arrow {
	font-size: 14px;
}
/* 其他颜色图标定义 */
@graylist:gray-edit,home-gray,gear-gray,miss-img,refresh-gray, print-arr-bo-gray, triangle-gray-right, triangle-gray-left,paper-pay-gray, compu-torus-gray, two-recta-gear-gray, compu-run-gray, paper-blue-add-gray, trian-recta-right-gray, box-red-add-gray,gray-chart, report-eye-gray, trian-recta-left-gray, clock-pen-gray, drug-eye-gray,arrow-le-bo-gray;
.loop(@i) when (@i < length(@graylist)+1){
    @a : extract(@graylist, @i);
	.icon-@{a}:before{
		color:#C7C7CC;
	}
    .loop(2+@i);
}
.loop(1);
.icon-blue-edit:before,.icon-tip-blue:before,.icon-date:before {
	color:#339EFF;
}
.icon-help::before{
	color:var(--primary-color,#339EFF)
}
.icon-star-yellow:before ,.icon-star-light-yellow:before {
	color:#FFB300;
}
.icon-star-orange-body:before {
	color:#F68300;
}
.icon-star:before , .icon-star-half:before ,.icon-star-empty:before {
	color:#FF3D3D;
}
.icon-alert-red:before,.icon-dustbin-red:before  {
	color: #FF6356;
}
.icon-ca-green:before,.icon-big-ca-green:before{
	color: #12AA2C;
}
.icon.lite-gray:before{
	color:#bbbbbb;
}
/*
tree-icon tree-file icon-drug时显示drug图标
tree-icon tree-file显示默认的文件图标
以下代码为file设置成字体图片,导致tree线条不对，最终在icon-drug上增加background:none;来实现树节点图片显示问题 [3127716]
*/
// .tree-file{
//   background: none;

// }
// .tree-file::before{
//   content: "\f033";
//   font-family: Mw_mifonts;
// }

/*create white icon*/
.c-icon(@name,@cntt){
	@var:~`@{name}.split(",").join(":before,.icon-")`;  //使用字符串插值。~避免编译,可去name双引号
	/*在列上显示icon-xx时图标时,不显示图标,且不居中问题 2911539*/
	@var2:~`@{name}.split(",").join(",.icon-")`;  //使用字符串插值。~避免编译,可去name双引号
	.icon-@{var2}{text-align: center;background: none;}
	.icon-@{var}:before{font-family: Mw_mifonts;content: "\f@{cntt}";} 
}

.wloop(@i) when (@i < length(@wlist)+1){
    .c-icon(extract(@wlist, @i),extract(@wlist,1+@i));
    .wloop(2+@i);
}
.wloop(1);

.icon-inpatient:before,.icon-outpatient:before,.icon-emergency:before,.icon-disabler:before,.icon-produce:before,.icon-children:before,.icon-lung:before  ,.icon-high:before,.icon-spirit:before,.icon-old:before,.icon-poor:before,.icon-sugar:before,.icon-free:before,.icon-out-poverty:before,.icon-pregnant-woman:before,.icon-make-oppointment:before,.icon-allergy-word:before,.icon-base-word:before,.icon-close-word:before,.icon-complex-word:before,.icon-list-word:before,.icon-private-word:before,.icon-public-word:before,.icon-text-word:before,.icon-translate-word:before,.icon-sort:before,.icon-out:before,.icon-change:before,.icon-macpw:before, .icon-macpworder:before,.icon-evaluate-red:before,.icon-evaluate-green:before,.icon-quality:before,.icon-mass-injury:before,.icon-implant:before,.icon-priority:before{
	font-size: 12px;
	display: inline-block;
	width: 14px;
	height: 14px;
	line-height: 15px;
	border-radius: 2px;
	text-align: center;
}
.icon-inpatient:before  {
	content: "住";
	background: #FFEDDF;
	border: 1px solid #FFB300;
	color: #FB7D00;
}
.icon-outpatient:before  {
	content: "门";
	background: #F8FFF3;
	border: 1px solid #47CE27;
	color: #229A06;
}
.icon-emergency:before  {
	content: "急";
	background: #FFE6E3;
	border: 1px solid #FF5B45;
	color: #DB1B00;
}
.icon-disabler:before  {
	content: "残";
	background: #FFF3E1;
	border: 1px solid #CF8A3B;
	color: #AC5919;
}
.icon-produce:before  {
	content: "产";
	background: #FFE9FE;
	border: 1px solid #F17AE9;
	color: #F340E7;
}
.icon-children:before  {
	content: "童";
	background: #E9FFE3;
	border: 1px solid #58CF00;
	color: #12AA2C;
}
.icon-lung:before  {
	content: "肺";
	background: #E6FFFB;
	border: 1px solid #3BCFB6;
	color: #05A489;
}
.icon-high:before  {
	content: "高";
	background: #FFE9E9;
	border: 1px solid #FFA4A4;
	color: #FF3D3D;
}
.icon-spirit:before  {
	content: "精";
	background: #F4E5F9;
	border: 1px solid #A346C4;
	color: #8C07BB;
}
.icon-old:before  {
	content: "老";
	background: #FFE1CE;
	border: 1px solid #F59700;
	color: #E65800;
}
.icon-poor:before  {
	content: "困";
	background: #FFE9E9;
	border: 1px solid #FFA4A4;
	color: #FF3D3D;
}
.icon-sugar:before  {
	content: "糖";
	background: #FFECDD;
	border: 1px solid #FFB47C;
	color: #DE881C;
}
.icon-free:before  {
	content: "免";
	background: #F0E3FF;
	border: 1px solid #B475FD;
	color: #8A24FF;
}
.icon-out-poverty:before  {
	content: "脱";
	background: #D6F7F3;
	border: 1px solid #3BD2C8;
	color: #269A92;
}
.icon-pregnant-woman:before  {
	content: "孕";
	background: #FFE2EE;
	border: 1px solid #FC9DCD;
	color: #F340A0;
}
.icon-make-oppointment:before  {
	content: "约";
	background: #EFFFEB;
	border: 1px solid #A8E59A;
	color: #229A06;
}
.icon-allergy-word:before  {
	content: "敏";
	background: #FFE9E9;
	border: 1px solid #FFA4A4;
	color: #FF3D3D;
}
.icon-base-word:before  {
	content: "基";
	background: #E9EEFF;
	border: 1px solid #859EFF;
	color: #2753FF;
}
.icon-close-word:before  {
	content: "闭";
	background: #ECECEC;
	border: 1px solid #A7A7A7;
	color: #6E6E6E;
}
.icon-complex-word:before  {
	content: "复";
	background: #FFDBEB;
	border: 1px solid #F788BB;
	color: #D61E72;
}
.icon-list-word:before  {
	content: "列";
	background: #C8F4AD;
	border: 1px solid #64B254;
	color: #307921;
}
.icon-private-word:before  {
	content: "私";
	background: #FFDB98;
	border: 1px solid #FF9831;
	color: #CC4F00;
}
.icon-public-word:before  {
	content: "公";
	background: #E3FFFA;
	border: 1px solid #64C8BC;
	color: #249587;
}
.icon-text-word:before  {
	content: "文";
	background: #EFF9FF;
	border: 1px solid #339EFF;
	color: #0086FF;
}
.icon-translate-word:before  {
	content: "译";
	background: #D3F7FF;
	border: 1px solid #76D5E9;
	color: #1093A7;
}
.icon-sort:before  {
	content: "序";
	background: #E8F3FF;
	border: 1px solid #0863C2;
	color: #0052A7;
}
.icon-out:before  {
	content: "出";
	background: #E3FFEE;
	border: 1px solid #00C75C;
	color: #12AA64;
}
.icon-change:before  {
	content: "转";
	background: #FFFBCE;
	border: 1px solid #EAD803;
	color: #EBA300;
}
.icon-macpw:before  {
	content: "径";
	background: #FFE9FE;
	border:1px solid #F17AE9 ;
	color: #F340E7;
}
.icon-macpworder:before  {
	content: "嘱";
	background:#EFF9FF ;
	border:1px solid #22A1FF ;
	color: #0086FF;
}
.icon-gcp::before{
	content: "GCP";
	background: #DCFFF8;
	border: 1px solid #18BBA2;
	color: #18BBA2;
	width: 28px;
	font-size: 12px;
	line-height: 14px;
}
.icon-evaluate-red:before {
	content: "评";
	background: #FFE6E3;
	border: 1px solid #FF5B45;
	color: #DB1B00;
}
.icon-evaluate-green:before {
	content: "评";
	background: #E3FFEE;
	border: 1px solid #00C75C;
	color: #12AA64;
}
.icon-quality:before {
	content: "质";
   	background: #FFE9E9;
    border: 1px solid #FFA4A4;
   	color: #FF3D3D;
}
.icon-mass-injury::before{
	content: "群";
	background: #FFEDDF;
	border: 1px solid #F68300;
	color: #FB7D00;
}
.icon-gcp::before{
	content: "GCP";
	background: #DCFFF8;
	border: 1px solid #18BBA2;
	color: #18BBA2;
	width: 28px;
	font-size: 12px;
	line-height: 14px;
}
.icon-implant::before{
	content: "植";
	background: #EFF9FF;
	border: 1px solid #22A1FF;
	color: #0086FF;
}
.icon-priority:before{
	content: "优";
	background: #ff4e00;
	border: 1px solid #e49472;
	color: #FFFFFF;
}
.icon-page-first:before,.icon-page-prev:before,.icon-page-next:before,.icon-page-last:before{
	font-size: 10px;
}
.icon-page-load:before{
	font-size: 14px;
}
.c-pic(@name,@img,@dir,@type,@suffix) {
	.pic-@{dir}-@{name}{
		background: url('icons/@{type}/@{dir}/@{img}.@{suffix}') no-repeat center center;
		background-size: contain;
		width: 100%;
		height: 100%;
	}
}
.c-pic-onlyname(@name,@dir,@type,@suffix) {
	// 把clothing-worker 变成 clothing_worker
	.c-pic(@name,replace(@name,"-","_",'gi'),@dir,@type,@suffix);
}
.picloop(@i,@arr,@pre) when(@i<length(@arr)+1){
	.c-pic-onlyname(extract(@arr, @i),@pre,pure,svg);
	.picloop(1+@i,@arr,@pre);
}
.picloop2(@i,@arr,@pre) when(@i<length(@arr)+1){
	.c-pic-onlyname(extract(@arr, @i),@pre,pure,extract(@arr, 1+@i));
	.picloop2(2+@i,@arr,@pre);
}
.picloopvben(@i,@arr,@pre) when(@i<length(@arr)+1){
	.c-pic-onlyname(extract(@arr, @i),@pre,vben,extract(@arr, 1+@i));
	.picloopvben(2+@i,@arr,@pre);
}
@picpat:babyboy,babygirl,man,oldman,oldwoman,schoolboy,schoolgirl,woman,unknown-gender,man-no-bg,woman-no-bg,unknown-gender-no-bg;
.picloop(1,@picpat,pat);
@picusr:doctor,nurse,surgeon,clothing-worker,medi-worker,dep-director,hosp-director,doctor-woman;
.picloop(1,@picusr,usr);
@picadm:out,em,in;
.picloop(1,@picadm,adm);
@piclogon:cert,default,face,phone,pin,sound,ukey;
.picloop(1,@piclogon,logon);
@picabout:doc,vi;
.picloop(1,@picabout,about);
@picaboutvben:imedical-logo,svg;
// 从1索引开始，数组,目录
.picloopvben(1,@picaboutvben,about);
@picsysst:e403,gif,e404,gif,e500,gif,nodata,svg,nodata-region,svg,timeout-relogon,gif;
.picloop2(1,@picsysst,sysst);
@picsysstvben:nodata-msg,png,welcome,png;
.picloopvben(1,@picsysstvben,sysst);
.pic-about-dhcc-digitalmed{
	width: 100%;
	height: 100%;
}
.pic-about-dhcc-digitalmed::before{
	content: "东华数字医疗";
	font-family:"思源黑体";
	font-size:40px;
	font-weight:600;
	color: #00479D;
}
body[data-theme="bgdark"]{
	.pic-sysst-nodata,.pic-sysst-nodata-msg,.pic-sysst-welcome{
		opacity:0.8;
	}
	.pic-sysst-nodata-region,.pic-sysst-nodata-region-bgsize75{
		opacity:0.7;
	}
	.pic-about-imedical-logo{
		background: url(icons/vben/about/imedical_logo_dark.svg) center center no-repeat;
		background-size:contain;
	}
	.pic-sysst-nodata-region{
		background: url(icons/vben/sysst/nodata_region_dark.svg) center center no-repeat;
	}
	.pic-about-dhcc-digitalmed:before{
		color: #008FFF;
	}
}